<footer class="footer py-3 mt-auto ">
  <div class="d-flex flex-wrap justify-content-between gap-3">
      <div class="text-center flex-fill">
        <a href="/" class="small d-flex flex-column align-items-center">
          <i class="bi bi-house-door-fill" aria-hidden="true"></i>
          <span>Home</span>
        </a>
      </div>
      <div class="text-center flex-fill">
        <a href="/profile" class="small d-flex flex-column align-items-center">
          <i class="bi bi-person-fill" aria-hidden="true"></i>
          <span>Profile</span>
        </a>
      </div>
      <div class="text-center flex-fill">
        <a href="/contact" class="small d-flex flex-column align-items-center">
          <i class="bi bi-envelope" aria-hidden="true"></i>
          <span>Contact</span>
        </a>
      </div>
  </div>
</footer>
