<div class="contact-card fade-in">
  <h1>Contact Us</h1>

  <div class="contact-item">
    <i class="fa-solid fa-location-dot"></i>
    <p><strong>Physical address:</strong> 97 Durham Ave, Salt River, Cape Town, 7925</p>
  </div>

  <div class="contact-item">
    <i class="fa-solid fa-file-invoice"></i>
    <p><strong>Billing address:</strong> 56 Barrack St, Cape Town City Centre, Cape Town, 8000</p>
  </div>

  <div class="contact-item">
    <i class="fa-solid fa-envelope"></i>
    <p><strong>Email:</strong> <a href="mailto:hungrycapetown@info.com">hungrycapetown@info.com</a></p>
  </div>

  <div class="contact-item">
    <i class="fa-solid fa-phone"></i>
    <p><strong>Phone:</strong> <a href="tel:+27214684500">021 468 4500</a></p>
  </div>
</div>
