<div class="contact-card">
  <h1>Contact us</h1>

  <p><strong>Physical address:</strong> 97 Durham Ave, Salt River, Cape Town, 7925</p>
  <p><strong>Billing address:</strong> 56 Barrack St, Cape Town City Centre, Cape Town, 8000</p>
  <p><strong>Email:</strong> hungrycapetown@info.com</p>
  <p><strong>Phone:</strong> 021 468 4500</p>
</div>
