<<<<<<< HEAD



  <div class="banner">
<h1> <strong>HUNGRY?</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
</div>

  <div class="container-flex">
    <a class="btn btn-ghost1" href="#">Find a restaurant</a>
    <a class="btn btn-ghost" href="#">Get started</a>
  </div>
</div>
=======
<h1>Hungry?</h1>



<%= link_to "Find a Restaurant", new_question_path, class: "btn btn-primary" %>
<button class="surprise-button">
  Surprise Me
</button>
>>>>>>> origin
