<div class="container-home container-lg">
  <div class="image-wrapper">
    <%= image_tag 'https://placehold.co/350x200', alt: 'Placeholder image', loading: 'lazy' %>
  </div>
  <div class="homepage-container">
    <p class="homepage-subheading">Let’s find your next favourite spot.</p>
    <%= link_to "Find a Restaurant", new_question_path, class: "btn-confirm rounded-pill" %>
  </div>
</div>
