


  <div class="banner text-center">
<h1 class="display-1"><strong>HUNGRY?</strong>..!</h1>
    <p class="lead">Change your life and learn to code at one of our campuses around the world.</p>

</div>

<div class="container text-center ">

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-6 text-center"> <%= link_to "Find a Restaurant", new_question_path, class:"btn btn-ghost1" %></div>
    <div class="col-6 text-center"><a class="btn btn-ghost border border shadow-dark" href="#">Surprise Me</a></div>
  </div>
</div>
