<section class="pt-5">
 <div class="image-wrapper d-flex justify-content-center mt-5">
    <%= image_tag 'hungry.png', alt: 'Placeholder image', loading: 'lazy' %>
  </div>
  <div class="homepage-container">
    <h2>Let's find your next favourite spot.</h2>
    <%= link_to "Find a Restaurant", new_question_path, class: "btn-confirm rounded-pill" %>
  </div>
</section>
h
