.footer {
  font-family: 'Fredoka', sans-serif;
  background: #B4CEE4;
  color: #263740;

  a {
    color: #263740;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 1.2rem;
  }

}
