.footer {
  font-family: 'Fredoka', sans-serif;
  background:$bg-green;
  position: fixed;
  bottom: 0;
  width:100%;

  a {
    color: $card-bg;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 1.2rem;
  }

}
