.footer {
  font-family: 'Fredoka', sans-serif;
  background: #263740;
  color: #f8f9fa;

  a {
    color: #f8f9fa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 1.2rem;
  }
}
