

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("banner-hungry.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 5em;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 900;

  strong {
  color: $primary;
  }

}

.banner p {
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-flex {
  @include gradient;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost {
  background: $primary;
  width: 100%;
  height: 100%;
  border: 1px;
  padding: auto;
  border-radius: 50px;
  font-weight:bold;
  color: aliceblue;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);

}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost1 {
  background: $footer;
  width: 100%;
  height: 100%;
  border: 1px;
  padding: auto;
  border-radius: 50px;
  font-weight:bold;
  color: aliceblue;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);

}

.btn-ghost:hover {
  opacity: 1;
}
