

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("banner-hungry.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 5em;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

strong {
  color: $primary;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center
}

.btn-ghost {
  @include gradient;
  border: 1px;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight:bold;
  width: 25%;
  height: 25%;
  color: aliceblue;


}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost1 {
  background: $footer;
  border: 1px;
  padding: 8px 24px;
  border-radius: 50px;
  width: 25%;
  height: 25%;
  margin-right: 5em;
  color: aliceblue;
  font-weight:bold;


}

.btn-ghost:hover {
  opacity: 1;
}
