.recommendation-page {
  background-color: $card-bg;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.recommendation-card {
  background: $card-bg;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: $text;
  font-family: $body-font;
  margin-bottom: 80px;
}

.restaurant-name {
  font-size: 2rem;
  font-family: $headers-font;
  color: $bg-green;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.location{
  font-size: 1.3rem;
  color: $text;

  strong {
    color: $accent-yellow;
    font-weight: 600;
  }
}

.reasoning {
  font-size: 1.1rem;
  color: $text-muted;
  margin-bottom: 2rem;

  strong {
    color: $accent-green;
    font-weight: 600;
  }
}

.question-buttons {
  display: flex;
  flex-direction: column;


  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: center;
  }
}

.user-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pill {
  background-color: $pills-green;
  color: $text;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
}

.pill i {
  margin-right: 0.4rem;
}
